v# Laravel
/vendor
/.idea
/.phpunit.result.cache
/database/*.sqlite
/storage/*.key
/storage/*.zip
/storage/*.gz
/storage/*.bz2
/storage/*.xz
/storage/*.tar
/storage/*.tar.gz
/storage/*.tar.bz2
/storage/*.tar.xz
/public/storage
/public/hot
/public/*.ico
/public/*.png
/public/*.gif
/public/*.jpg
/public/*.jpeg
/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
*.log
*.swp
.DS_Store